<h1 class="header">Patients</h1>

<div class="button-container">
  <%= link_to 'Add New Patient', new_patient_path, class: 'btn add-btn' %>
  <%= link_to 'Logout', logout_path, method: :delete, class: 'btn logout-btn' %>
</div>

<div class="patient-cards">
  <% @patients.each do |patient| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= patient.name %></h5>
        <p class="card-text">Age: <%= patient.age %></p>
      <%= link_to 'Delete', patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Edit', edit_patient_path(patient), class: 'btn edit-btn' %>
      
      </div>
    </div>
  <% end %>
</div>
